/* style.css */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #e7e7e7;
    color: #333;
    line-height: 1.6;
}

#container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background: #fff;
}

header {
    background-color: #fbf2da;
    color: #000000;
    padding: 10px 0;
    border: 1px solid black;
    text-align: center;
}

header h1 {
    margin: 0;
}

nav ul {
    background: #444;
    overflow: auto;
    color: white;
    padding: 0;
    text-align: center;
    margin: 20px 0;
}

nav ul li {
    display: inline;
}

nav ul li a {
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    display: inline-block;
}

nav ul li a:hover {
    background-color: #555;
}

main {
    padding: 20px;
    background: #f8f8f8;
    border: 1px solid #ddd;
    border-radius: 5px;
}

section {
    margin-bottom: 20px;
}

section h2 {
    color: #444;
    margin-bottom: 10px;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #333;
    color: white;
}

h3 {
    color: #000000;
    margin-bottom: 10px;
}

section img {
    color: #444;
    margin-bottom: 10px;
    width: 30%;
    border-radius: 5%;
}
.fontformat{
    color: darkblue;
}

